* {
  user-select: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.setting-portal {
  position: absolute;
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(10, 12, 28, 0.5);
}

@media all and (min-width: 765px) {
  .setting-portal {
    position: absolute;
    height: calc(var(--vh, 1vh) * 100);
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(10, 12, 28, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
